In [168]:
%matplotlib inline
import pandas as pd
import numpy as np
columns=['CountryCode', 'IndicatorCode', 'Year', 'Value']
data = pd.read_csv("data/indicators.csv", usecols=(columns))# nrows=1048576)

In [169]:
data.head()

  CountryCode   IndicatorCode  Year         Value
0         ARB     SP.ADO.TFRT  1960  1.335609e+02
1         ARB     SP.POP.DPND  1960  8.779760e+01
2         ARB  SP.POP.DPND.OL  1960  6.634579e+00
3         ARB  SP.POP.DPND.YG  1960  8.102333e+01
4         ARB  MS.MIL.XPRT.KD  1960  3.000000e+06

In [170]:
columns=['CountryCode']
countries = pd.read_csv("data/Country.csv", usecols=(columns))

In [171]:
countries.head()

  CountryCode
0         AFG
1         ALB
2         DZA
3         ASM
4         ADO

In [172]:
# find some measures that seem important and are often present, filter countries with all those intact, train network

In [173]:
columns=['LongDefinition', 'SeriesCode']
series = pd.read_csv("data/Series.csv", usecols=(columns))

In [174]:
series.head()

             SeriesCode                                     LongDefinition
0        BN.KLT.DINV.CD  Foreign direct investment are the net inflows ...
1  BX.KLT.DINV.WD.GD.ZS  Foreign direct investment are the net inflows ...
2     BX.KLT.DINV.CD.WD  Foreign direct investment refers to direct inv...
3     BM.KLT.DINV.GD.ZS  Foreign direct investment are the net inflows ...
4        BN.TRF.KOGT.CD  Net capital account records acquisitions and d...

In [175]:
print (len(countries))
print (len(series))

247
1345

In [236]:
#isUsedSeries = [(name in seriesToUse) for name in series.SeriesCode.values]
#filteredSeries = series[isUsedSeries]
#filteredSeriesNames = filteredSeries.SeriesCode.values

#useableData = [(name in filteredSeriesNames) for name in data.IndicatorCode.values]
#filteredData = data[useableData]

a = seriesCounts.to_dict()
useableData = [(a.get(name, 0) > 10000) for name in data.IndicatorCode.values]
filteredData = data[useableData]

In [237]:
useableSeries = [(a.get(name, 0) > 10000) for name in series.SeriesCode.values]
filteredSeries = series[useableSeries]

In [238]:
print(len(filteredData))
print(len(data))
print(len(filteredSeries))
print(len(series))

494277
5656458
40
1345

In [239]:
# a = data[(data.CountryCode == 'ARB') & ((data.IndicatorCode == 'SP.ADO.TFRT') | (data.IndicatorCode == 'SP.POP.DPND'))]
useableCountries = []
for country in countries.CountryCode.values:
    useable = True
    filterByCountry = filteredData[(data.CountryCode == country)]
    for seriesName in filteredSeries.SeriesCode.values:
        if len(filterByCountry[(filterByCountry.IndicatorCode == seriesName)]) == 0:
            useable = False;
            break;
    if useable:
        useableCountries.append(country)

/Users/jgzuke/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

['AFG',
 'ALB',
 'DZA',
 'AGO',
 'ATG',
 'ARB',
 'ARG',
 'ARM',
 'AUS',
 'AUT',
 'AZE',
 'BHR',
 'BGD',
 'BRB',
 'BLR',
 'BEL',
 'BLZ',
 'BEN',
 'BTN',
 'BOL',
 'BIH',
 'BWA',
 'BRA',
 'BRN',
 'BGR',
 'BFA',
 'BDI',
 'CPV',
 'KHM',
 'CMR',
 'CAN',
 'CSS',
 'CAF',
 'CEB',
 'TCD',
 'CHL',
 'CHN',
 'COL',
 'COM',
 'COG',
 'CRI',
 'CIV',
 'HRV',
 'CUB',
 'CYP',
 'CZE',
 'PRK',
 'ZAR',
 'DNK',
 'DJI',
 'DOM',
 'EAS',
 'EAP',
 'ECU',
 'EGY',
 'SLV',
 'GNQ',
 'ERI',
 'EST',
 'ETH',
 'EMU',
 'ECS',
 'ECA',
 'EUU',
 'FJI',
 'FIN',
 'FCS',
 'FRA',
 'GAB',
 'GEO',
 'DEU',
 'GHA',
 'GRC',
 'GRD',
 'GTM',
 'GIN',
 'GNB',
 'GUY',
 'HTI',
 'HPC',
 'HIC',
 'NOC',
 'OEC',
 'HND',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'IRN',
 'IRQ',
 'IRL',
 'ISR',
 'ITA',
 'JAM',
 'JPN',
 'JOR',
 'KAZ',
 'KEN',
 'KIR',
 'KOR',
 'KWT',
 'KGZ',
 'LAO',
 'LCN',
 'LAC',
 'LVA',
 'LDC',
 'LBN',
 'LSO',
 'LBR',
 'LBY',
 'LTU',
 'LMY',
 'LIC',
 'LMC',
 'LUX',
 'MKD',
 'MDG',
 'MWI',
 'MYS',
 'MDV',
 'MLI',
 'MLT',
 'MRT',
 'MUS',
 'MEX',
 'FSM',
 'MEA',
 'MNA',
 'MIC',
 'MDA',
 'MNG',
 'MNE',
 'MAR',
 'MOZ',
 'MMR',
 'NAM',
 'NPL',
 'NLD',
 'NZL',
 'NIC',
 'NER',
 'NGA',
 'NAC',
 'NOR',
 'OED',
 'OMN',
 'OSS',
 'PSS',
 'PAK',
 'PAN',
 'PNG',
 'PRY',
 'PER',
 'PHL',
 'POL',
 'PRT',
 'QAT',
 'ROM',
 'RUS',
 'RWA',
 'WSM',
 'STP',
 'SAU',
 'SEN',
 'SRB',
 'SYC',
 'SLE',
 'SVK',
 'SVN',
 'SST',
 'SLB',
 'ZAF',
 'SAS',
 'ESP',
 'LKA',
 'LCA',
 'VCT',
 'SSF',
 'SSA',
 'SDN',
 'SUR',
 'SWZ',
 'SWE',
 'CHE',
 'SYR',
 'TJK',
 'TZA',
 'THA',
 'BHS',
 'GMB',
 'TMP',
 'TGO',
 'TON',
 'TTO',
 'TUN',
 'TUR',
 'TKM',
 'UGA',
 'UKR',
 'ARE',
 'GBR',
 'USA',
 'UMC',
 'URY',
 'UZB',
 'VUT',
 'VEN',
 'VNM',
 'WLD',
 'YEM',
 'ZMB',
 'ZWE']

In [241]:
len(useableCountries)

213

In [242]:
goodData = [(country in useableCountries) for country in filteredData.CountryCode.values]
useableData = filteredData[goodData]

In [245]:
print(len(useableData))
useableData.head()

450951

  CountryCode   IndicatorCode  Year       Value
0         ARB     SP.ADO.TFRT  1960  133.560907
1         ARB     SP.POP.DPND  1960   87.797601
2         ARB  SP.POP.DPND.OL  1960    6.634579
3         ARB  SP.POP.DPND.YG  1960   81.023330
6         ARB  SP.DYN.CBRT.IN  1960   47.697888

In [319]:
# Filtered Data reasonably above, need to:
# Seperate into few year blocks, with next year values as results to guess
# Train a few different models to guess next years values
goodData = [(country in filteredSeries) for country in useableData.IndicatorCode.values]
useableData = useableData[goodData]

In [314]:
predictionFeature = 'SP.ADO.TFRT'

trainingValues = []
trainingResults = []
for country in useableCountries[0:15]: # 213
    countryData = filteredData[(filteredData.CountryCode == country)]
    for year in range(1965, 2000):
        pastData_5 = pastData_4
        pastData_4 = pastData_3
        pastData_3 = pastData_2
        pastData_2 = pastData_1
        
        yearData = countryData[(countryData.Year == year)]
        
        row = []
        for additionalYear in range(0, 5):
            yearData = countryData[(countryData.Year == startYear + additionalYear)]
            for series in filteredSeries[0:15]: # 40
                data = yearData[(yearData.IndicatorCode == series)].Value.values
                if len(data) != 1:
                    valid = False
                    break;
                value = data[0]
                row.append(value)
        
        predictionValue = countryData[(countryData.Year == startYear + 6) & (countryData.IndicatorCode == predictionFeature)].Value.values
        if len(predictionValue) != 1:
            valid = False
        if valid:
            trainingValues.append(row)
            trainingResults.append(predictionValue[0])


for country in useableCountries[0:15]: # 213
    countryData = filteredData[(filteredData.CountryCode == country)]
    for startYear in range(1960, 2000):
        # optimize to not fetch 5 times later
        valid = True
        row = []
        for additionalYear in range(0, 5):
            yearData = countryData[(countryData.Year == startYear + additionalYear)]
            for series in filteredSeries[0:15]: # 40
                data = yearData[(yearData.IndicatorCode == series)].Value.values
                if len(data) != 1:
                    valid = False
                    break;
                value = data[0]
                row.append(value)
        
        predictionValue = countryData[(countryData.Year == startYear + 6) & (countryData.IndicatorCode == predictionFeature)].Value.values
        if len(predictionValue) != 1:
            valid = False
        if valid:
            trainingValues.append(row)
            trainingResults.append(predictionValue[0])

In [310]:
xData = pd.DataFrame(trainingValues)
yData = pd.DataFrame(trainingResults)

In [316]:
xData

,0,1,2,3,4,5,6,7,8,9
0,145.3210,81.717726,145.3210,82.755896,145.3210,83.304557,145.3210,83.550740,145.3210,83.734442
1,145.3210,82.755896,145.3210,83.304557,145.3210,83.550740,145.3210,83.734442,145.3210,83.962152
2,145.3210,83.304557,145.3210,83.550740,145.3210,83.734442,145.3210,83.962152,145.3210,85.099266
3,145.3210,83.550740,145.3210,83.734442,145.3210,83.962152,145.3210,85.099266,145.3210,86.103697
4,145.3210,83.734442,145.3210,83.962152,145.3210,85.099266,145.3210,86.103697,145.3210,86.970706
5,145.3210,83.962152,145.3210,85.099266,145.3210,86.103697,145.3210,86.970706,145.3210,87.650159
6,145.3210,85.099266,145.3210,86.103697,145.3210,86.970706,145.3210,87.650159,145.3210,88.126832
7,145.3210,86.103697,145.3210,86.970706,145.3210,87.650159,145.3210,88.126832,145.3210,89.327379
8,145.3210,86.970706,145.3210,87.650159,145.3210,88.126832,145.3210,89.327379,145.3210,90.205645
9,145.3210,87.650159,145.3210,88.126832,145.3210,89.327379,145.3210,90.205645,146.2150,90.813263
10,145.3210,88.126832,145.3210,89.327379,145.3210,90.205645,146.2150,90.813263,147.1090,91.182126
11,145.3210,89.327379,145.3210,90.205645,146.2150,90.813263,147.1090,91.182126,148.0030,91.284346
12,145.3210,90.205645,146.2150,90.813263,147.1090,91.182126,148.0030,91.284346,148.8970,92.268379
13,146.2150,90.813263,147.1090,91.182126,148.0030,91.284346,148.8970,92.268379,149.7910,93.091547
14,147.1090,91.182126,148.0030,91.284346,148.8970,92.268379,149.7910,93.091547,150.8782,93.701816
15,148.0030,91.284346,148.8970,92.268379,149.7910,93.091547,150.8782,93.701816,151.9654,93.954140
16,148.8970,92.268379,149.7910,93.091547,150.8782,93.701816,151.9654,93.954140,153.0526,93.666876
17,149.7910,93.091547,150.8782,93.701816,151.9654,93.954140,153.0526,93.666876,154.1398,94.755389
18,150.8782,93.701816,151.9654,93.954140,153.0526,93.666876,154.1398,94.755389,155.2270,95.640871
19,151.9654,93.954140,153.0526,93.666876,154.1398,94.755389,155.2270,95.640871,156.3758,96.342311
20,153.0526,93.666876,154.1398,94.755389,155.2270,95.640871,156.3758,96.342311,157.5246,97.040874
21,154.1398,94.755389,155.2270,95.640871,156.3758,96.342311,157.5246,97.040874,158.6734,98.023257
22,155.2270,95.640871,156.3758,96.342311,157.5246,97.040874,158.6734,98.023257,159.8222,98.803023
23,156.3758,96.342311,157.5246,97.040874,158.6734,98.023257,159.8222,98.803023,160.9710,99.154056
24,157.5246,97.040874,158.6734,98.023257,159.8222,98.803023,160.9710,99.154056,161.5600,99.374838
25,158.6734,98.023257,159.8222,98.803023,160.9710,99.154056,161.5600,99.374838,162.1490,99.875426
26,159.8222,98.803023,160.9710,99.154056,161.5600,99.374838,162.1490,99.875426,162.7380,101.094930
27,160.9710,99.154056,161.5600,99.374838,162.1490,99.875426,162.7380,101.094930,163.3270,101.007981
28,161.5600,99.374838,162.1490,99.875426,162.7380,101.094930,163.3270,101.007981,163.9160,100.880590
29,162.1490,99.875426,162.7380,101.094930,163.3270,101.007981,163.9160,100.880590,164.1812,100.881545
...,...,...,...,...,...,...,...,...,...,...
570,20.1248,61.288499,20.8084,59.833664,21.4920,58.529444,22.6920,57.343771,23.8920,56.214367
571,20.8084,59.833664,21.4920,58.529444,22.6920,57.343771,23.8920,56.214367,25.0920,55.101681
572,21.4920,58.529444,22.6920,57.343771,23.8920,56.214367,25.0920,55.101681,26.2920,54.292541
573,22.6920,57.343771,23.8920,56.214367,25.0920,55.101681,26.2920,54.292541,27.4920,53.314546
574,23.8920,56.214367,25.0920,55.101681,26.2920,54.292541,27.4920,53.314546,29.1120,52.277252
575,25.0920,55.101681,26.2920,54.292541,27.4920,53.314546,29.1120,52.277252,30.7320,51.345106
576,26.2920,54.292541,27.4920,53.314546,29.1120,52.277252,30.7320,51.345106,32.3520,50.602080
577,27.4920,53.314546,29.1120,52.277252,30.7320,51.345106,32.3520,50.602080,33.9720,49.938558
578,29.1120,52.277252,30.7320,51.345106,32.3520,50.602080,33.9720,49.938558,35.5920,49.441711
579,30.7320,51.345106,32.3520,50.602080,33.9720,49.938558,35.5920,49.441711,36.3838,49.111324
580,32.3520,50.602080,33.9720,49.938558,35.5920,49.441711,36.3838,49.111324,37.1756,48.898422
581,33.9720,49.938558,35.5920,49.441711,36.3838,49.111324,37.1756,48.898422,37.9674,48.786025
582,35.5920,49.441711,36.3838,49.111324,37.1756,48.898422,37.9674,48.786025,38.7592,49.130461
583,36.3838,49.111324,37.1756,48.898422,37.9674,48.786025,38.7592,49.130461,39.5510,49.462027
584,37.1756,48.898422,37.9674,48.786025,38.7592,49.130461,39.5510,49.462027,40.4880,49.775853
585,37.9674,48.786025,38.7592,49.130461,39.5510,49.462027,40.4880,49.775853,41.4250,50.116706
586,38.7592,49.130461,39.5510,49.462027,40.4880,49.775853,41.4250,50.116706,42.3620,50.497392
587,39.5510,49.462027,40.4880,49.775853,41.4250,50.116706,42.3620,50.497392,43.2990,51.016584
588,40.4880,49.775853,41.4250,50.116706,42.3620,50.497392,43.2990,51.016584,44.2360,51.489456
589,41.4250,50.116706,42.3620,50.497392,43.2990,51.016584,44.2360,51.489456,41.9930,51.825847
590,42.3620,50.497392,43.2990,51.016584,44.2360,51.489456,41.9930,51.825847,39.7500,51.906315
591,43.2990,51.016584,44.2360,51.489456,41.9930,51.825847,39.7500,51.906315,37.5070,51.668209
592,44.2360,51.489456,41.9930,51.825847,39.7500,51.906315,37.5070,51.668209,35.2640,50.976234
593,41.9930,51.825847,39.7500,51.906315,37.5070,51.668209,35.2640,50.976234,33.0210,50.116093
594,39.7500,51.906315,37.5070,51.668209,35.2640,50.976234,33.0210,50.116093,31.2750,49.106045
595,37.5070,51.668209,35.2640,50.976234,33.0210,50.116093,31.2750,49.106045,29.5290,48.022276
596,35.2640,50.976234,33.0210,50.116093,31.2750,49.106045,29.5290,48.022276,27.7830,46.949293
597,33.0210,50.116093,31.2750,49.106045,29.5290,48.022276,27.7830,46.949293,26.0370,46.286873
598,31.2750,49.106045,29.5290,48.022276,27.7830,46.949293,26.0370,46.286873,24.2910,45.676000
599,29.5290,48.022276,27.7830,46.949293,26.0370,46.286873,24.2910,45.676000,23.8478,45.057424