In [42]:
%matplotlib inline
import pandas as pd
import numpy as np
X = pd.read_csv("data/xSave.csv", index_col=0)
y = pd.read_csv("data/ySave.csv", index_col=0) #, usecols=['YEAR_5'])
X.head()

,0,1,2,3,4,5,6,7,8,9,...,305,306,307,308,309,310,311,312,313,314
0,1.673333e+09,161.384702,3826000.0,1224.516,83.05,70.20,3124500.0,60.38,15.881812,9287155.0,...,7.450,100000000.0,99900000.0,47.314314,42.712713,141000000.0,145386000.0,32.425405,57.253106,13.161423
1,1.733333e+09,144.173944,4270000.0,1279.592,91.25,73.56,3337000.0,58.45,18.415149,10492529.0,...,7.449,306000000.0,313137000.0,45.115397,35.590492,328000000.0,458652000.0,45.553055,45.343964,21.467268
2,2.155555e+09,175.027098,4351000.0,1301.915,94.92,76.02,3342000.0,61.00,18.864003,10696181.0,...,7.449,321000000.0,269156000.0,43.718141,27.069432,395000000.0,450516000.0,53.467801,34.542835,21.696969
3,2.366667e+09,188.085136,4481000.0,1316.392,97.68,78.24,3404000.0,63.38,19.273587,10873811.0,...,7.449,474000000.0,435015000.0,60.016551,18.152248,425000000.0,551216000.0,68.909647,24.561515,24.310830
4,2.555556e+09,199.164809,4624000.0,1362.404,102.93,83.72,3394000.0,69.07,19.654077,11031249.0,...,7.449,670000000.0,670474000.0,64.592065,19.471896,841000000.0,494754000.0,60.669343,32.162044,41.491344

In [45]:
y.head()
y = y.YEAR_4

     YEAR_0    YEAR_1    YEAR_2    YEAR_3    YEAR_4
0  145.3210  146.2150  147.1090  148.0030  148.8970
1  150.8782  151.9654  153.0526  154.1398  155.2270
2  151.9654  153.0526  154.1398  155.2270  156.3758
3  153.0526  154.1398  155.2270  156.3758  157.5246
4  154.1398  155.2270  156.3758  157.5246  158.6734

In [29]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [31]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression(normalize=True)
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [32]:
from sklearn.cross_validation import cross_val_score
cv_scores = cross_val_score(clf, X_train, y_train, cv=5)
cv_scores

array([ 0.99363215,  0.99135424,  0.99371072,  0.99245552,  0.99397624])

In [33]:
y

        YEAR_5
0     148.8970
1     155.2270
2     156.3758
3     157.5246
4     158.6734
5     159.8222
6      99.6324
7      93.7132
8      87.7940
9      82.2638
10     76.7336
11     19.2920
12     19.2730
13     19.2540
14     19.2350
15     19.1080
16     18.9810
17     18.8540
18     18.7270
19     18.6000
20     19.0396
21     19.4792
22     19.9188
23     20.3584
24     20.7980
25     21.1438
26     21.4896
27     98.1096
28     96.3598
29     94.6100
...        ...
5117  110.8044
5118  107.0682
5119  103.3320
5120   98.1738
5121   93.0156
5122  109.9188
5123  110.4694
5124  111.0200
5125  110.8408
5126  110.6616
5127  110.4824
5128  110.3032
5129  110.1240
5130  109.5530
5131  108.9820
5132  108.4110
5133  107.8400
5134  107.2690
5135  109.3162
5136  111.3634
5137  113.4106
5138  115.4578
5139  117.5050
5140  116.6702
5141  115.8354
5142  115.0006
5143  114.1658
5144  113.3310
5145  111.8664
5146  110.4018

[5147 rows x 1 columns]

In [35]:
y['YEAR_5']

0       148.8970
1       155.2270
2       156.3758
3       157.5246
4       158.6734
5       159.8222
6        99.6324
7        93.7132
8        87.7940
9        82.2638
10       76.7336
11       19.2920
12       19.2730
13       19.2540
14       19.2350
15       19.1080
16       18.9810
17       18.8540
18       18.7270
19       18.6000
20       19.0396
21       19.4792
22       19.9188
23       20.3584
24       20.7980
25       21.1438
26       21.4896
27       98.1096
28       96.3598
29       94.6100
          ...
5117    110.8044
5118    107.0682
5119    103.3320
5120     98.1738
5121     93.0156
5122    109.9188
5123    110.4694
5124    111.0200
5125    110.8408
5126    110.6616
5127    110.4824
5128    110.3032
5129    110.1240
5130    109.5530
5131    108.9820
5132    108.4110
5133    107.8400
5134    107.2690
5135    109.3162
5136    111.3634
5137    113.4106
5138    115.4578
5139    117.5050
5140    116.6702
5141    115.8354
5142    115.0006
5143    114.1658
5144    113.3310
5145    111.8664
5146    110.4018
Name: YEAR_5, dtype: float64