# American Survey

In [24]:
%matplotlib inline
import pandas as pd
import numpy as np
housing_a = pd.read_csv("data/pums/ss13husa.csv",sep=",",usecols=('ST', 'FINCP'))
housing_b = pd.read_csv("data/pums/ss13husb.csv",sep=",",usecols=('ST', 'FINCP'))
housing = housing_a.append(housing_b)
#population_a = pd.read_csv("data/pums/ss13pusa.csv",sep=",",usecols=(1))
#population_b = pd.read_csv("data/pums/ss13pusb.csv",sep=",",usecols=(1))

In [25]:
housing_a.head()

   ST     FINCP
0   1       NaN
1   1  151000.0
2   1       NaN
3   1   11400.0
4   1       NaN

In [38]:
for i in range(1, 72):
    incomes = housing[housing.ST == i].FINCP.values
    if (len(incomes > 0)):
        income_average = np.average(incomes[~np.isnan(incomes)])
        print ('State %d: Average income %d' % (i, income_average))

State 1: Average income 71368
State 2: Average income 86497
State 4: Average income 77755
State 5: Average income 65834
State 6: Average income 98832
State 8: Average income 96815
State 9: Average income 127575
State 10: Average income 91722
State 11: Average income 138332
State 12: Average income 81067
State 13: Average income 80629
State 15: Average income 100677
State 16: Average income 69169
State 17: Average income 93159
State 18: Average income 73794
State 19: Average income 78369
State 20: Average income 80658
State 21: Average income 73276
State 22: Average income 75501
State 23: Average income 72194
State 24: Average income 117881
State 25: Average income 115381
State 26: Average income 76989
State 27: Average income 91653
State 28: Average income 62705
State 29: Average income 74936
State 30: Average income 76793
State 31: Average income 81682
State 32: Average income 79217
State 33: Average income 97987
State 34: Average income 118614
State 35: Average income 70638
State 36: Average income 100722
State 37: Average income 78977
State 38: Average income 91551
State 39: Average income 78568
State 40: Average income 70123
State 41: Average income 82188
State 42: Average income 84676
State 44: Average income 97604
State 45: Average income 73469
State 46: Average income 74236
State 47: Average income 75342
State 48: Average income 86750
State 49: Average income 85052
State 50: Average income 82322
State 51: Average income 106887
State 53: Average income 93686
State 54: Average income 66320
State 55: Average income 81334
State 56: Average income 82832