In [67]:
import pandas as pd
import numpy as np 

data = pd.read_csv("data/test_set.csv", nrows=10000000) # 16874592
data.head()

   display_id                                    ad_ids  ad_clicked
0           1  42337 139684 144739 156824 279295 296965      144739
1           2               125211 156535 169564 308455      308455
2           3   71547 95814 152141 183846 228657 250082      228657
3           4        149930 153623 184709 186849 233730      153623
4           5         54606 162868 184548 282674 326514      326514

In [68]:
events = pd.read_csv("data/events.csv", nrows=10000000) # 16874592
events.head()

/Users/jgzuke/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   display_id            uuid  document_id  timestamp platform geo_location
0           1  cb8c55702adb93       379743         61        3    US>SC>519
1           2  79a85fa78311b9      1794259         81        2    US>CA>807
2           3  822932ce3d8757      1179111        182        2    US>MI>505
3           4  85281d0a49f7ac      1777797        234        2    US>WV>564
4           5  8d0daef4bf5b56       252458        338        2        SG>00

In [69]:
joined_data = data.merge(events, left_on='display_id', right_on="display_id")
joined_data.head()

,display_id,ad_ids,ad_clicked,uuid,document_id,timestamp,platform,geo_location
0,1,42337 139684 144739 156824 279295 296965,144739,cb8c55702adb93,379743,61,3,US>SC>519
1,2,125211 156535 169564 308455,308455,79a85fa78311b9,1794259,81,2,US>CA>807
2,3,71547 95814 152141 183846 228657 250082,228657,822932ce3d8757,1179111,182,2,US>MI>505
3,4,149930 153623 184709 186849 233730,153623,85281d0a49f7ac,1777797,234,2,US>WV>564
4,5,54606 162868 184548 282674 326514,326514,8d0daef4bf5b56,252458,338,2,SG>00

In [70]:
user_data = {}
for row in joined_data[:9000000].iterrows():
    if row[0] % 100000 == 0:
        print (row[0])
        
    values = row[1]
    uuid = values.uuid
    ad_clicked = values.ad_clicked
    user = user_data.get(values.uuid, [])
    user.append(ad_clicked)
    
    user_data[values.uuid] = user

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000

In [136]:
def score(predictions):
    correct = predictions[predictions.ad_clicked == predictions.predicted_click]
    return len(correct) / len(predictions)

In [73]:
documents_topics.head()

   document_id  topic_id  confidence_level
0      1595802       140          0.073113
1      1595802        16          0.059416
2      1595802       143          0.045421
3      1595802       170          0.038867
4      1524246       113          0.196450

In [74]:
documents_entities.head()

   document_id                         entity_id  confidence_level
0      1524246  f9eec25663db4cd83183f5c805186f16          0.672865
1      1524246  55ebcfbdaff1d6f60b3907151f38527a          0.399114
2      1524246  839907a972930b17b125eb0247898412          0.392096
3      1524246  04d8f9a1ad48f126d5806a9236872604          0.213996
4      1617787  612a1d17685a498aff4f036c1ee02c16          0.386193

In [75]:
documents_categories.head()

   document_id  category_id  confidence_level
0      1595802         1611              0.92
1      1595802         1610              0.07
2      1524246         1807              0.92
3      1524246         1608              0.07
4      1617787         1807              0.92

In [144]:
promoted_content = pd.read_csv("data/promoted_content.csv")
promoted_content.head()

559583

In [72]:
documents_topics = pd.read_csv("data/documents_topics.csv")
documents_entities = pd.read_csv("data/documents_entities.csv")
documents_categories = pd.read_csv("data/documents_categories.csv")

In [77]:
click_counts = pd.read_csv("data/clicks_train.csv", nrows=10000000) # real length 87141731
cnt = click_counts[click_counts.clicked==1].ad_id.value_counts()
cntall = click_counts.ad_id.value_counts()

In [138]:
def get_ad_similarity(ad_1, ad_2):
    return 0.1 if ad_1 == ad_2 else 0

In [132]:
def get_similarity(ad_id, uuid):
    ads_clicked = user_data.get(uuid, [])
    return sum([get_ad_similarity(ad_id, other_ad_id) for other_ad_id in ads_clicked])

In [133]:
def get_prob(ad_id, uuid):
    if ad_id not in cnt:
        return 0
    return get_similarity(ad_id, uuid) + (cnt[ad_id]/float(cntall[ad_id]))

In [134]:
def predict_click(row):
    ad_ids = map(int, row[1].ad_ids.split())
    ad_id = max(ad_ids, key = lambda ad_id: get_prob(ad_id, row[1].uuid))
    return ad_id

In [141]:
test = joined_data[9900000:]
test['predicted_click'] = [predict_click(row) for row in test.iterrows()]

/Users/jgzuke/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [142]:
score(test)

0.37337