In [15]:
import pandas as pd
import numpy as np 

data = pd.read_csv("data/clicks_train.csv", nrows=9999995) # real length 87141731

In [16]:
data

         display_id   ad_id  clicked
0                 1   42337        0
1                 1  139684        0
2                 1  144739        1
3                 1  156824        0
4                 1  279295        0
5                 1  296965        0
6                 2  125211        0
7                 2  156535        0
8                 2  169564        0
9                 2  308455        1
10                3   71547        0
11                3   95814        0
12                3  152141        0
13                3  183846        0
14                3  228657        1
15                3  250082        0
16                4  149930        0
17                4  153623        1
18                4  184709        0
19                4  186849        0
20                4  233730        0
21                5   54606        0
22                5  162868        0
23                5  184548        0
24                5  282674        0
25                5  326514        1
26                6   85397        0
27                6  160754        0
28                6  173388        0
29                6  175234        1
...             ...     ...      ...
9999965     1932981  117685        1
9999966     1932981  210751        0
9999967     1932981  267513        0
9999968     1932981  267520        0
9999969     1932982   12564        0
9999970     1932982   30682        0
9999971     1932982   45091        0
9999972     1932982  180800        0
9999973     1932982  207529        1
9999974     1932982  288388        0
9999975     1932983  142865        0
9999976     1932983  171774        0
9999977     1932983  183436        1
9999978     1932983  288374        0
9999979     1932984   30610        0
9999980     1932984   51384        0
9999981     1932984  114835        1
9999982     1932984  150083        0
9999983     1932984  189886        0
9999984     1932984  210784        0
9999985     1932985  134568        1
9999986     1932985  139563        0
9999987     1932985  180910        0
9999988     1932985  238221        0
9999989     1932985  258662        0
9999990     1932985  288353        0
9999991     1932986   36667        1
9999992     1932986  199081        0
9999993     1932986  225438        0
9999994     1932986  360775        0

[9999995 rows x 3 columns]

In [24]:
aggregated = []
current_display = 1
current_click = 0
current_ads = []
for row in data[0:9999995].values:
    if row[0] != current_display:
        aggregated.append([current_display, " ".join(map(str,current_ads)), current_click])
        current_ads = []
        current_display = row[0]
    if row[2]:
        current_click = row[1]
    current_ads.append(row[1])

In [26]:
test_set = pd.DataFrame(aggregated, columns=['display_id', 'ad_ids', 'ad_clicked'])

In [28]:
test_set.to_csv("data/test_set.csv", index=False)