In [19]:
import pandas as pd
import numpy as np 

data = pd.read_csv("data/test_set.csv", nrows=1000000) # 16874592
from sklearn.cross_validation import train_test_split
train = data[:800000]
test = data[800000:]
train.head()

   display_id                                    ad_ids  ad_clicked
0           1  42337 139684 144739 156824 279295 296965      144739
1           2               125211 156535 169564 308455      308455
2           3   71547 95814 152141 183846 228657 250082      228657
3           4        149930 153623 184709 186849 233730      153623
4           5         54606 162868 184548 282674 326514      326514

In [20]:
events = pd.read_csv("data/events.csv", nrows=1000000) # 16874592
events.head()

/Users/jgzuke/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   display_id            uuid  document_id  timestamp platform geo_location
0           1  cb8c55702adb93       379743         61        3    US>SC>519
1           2  79a85fa78311b9      1794259         81        2    US>CA>807
2           3  822932ce3d8757      1179111        182        2    US>MI>505
3           4  85281d0a49f7ac      1777797        234        2    US>WV>564
4           5  8d0daef4bf5b56       252458        338        2        SG>00

In [ ]:
user_data = {}
for i in range(800000):
    if i%10000 == 0:
        print (i)
    uuid = events.values[i][1]
    ads = train.values[i][1]
    ad_clicked = train.values[i][2]
    //user = user_data.get(uuid, [])
    user.append(ad_clicked)
    
    user_data[uuid] = user

0

In [30]:
1000%1000

0

In [18]:
for row in a.values:
    print (row)

[1]
[2]
[3]
[4]

In [21]:
a = {1: 2}

In [22]:
a

{1: 2}

In [23]:
a[1]

2

In [24]:
!a[1]

/bin/sh: a[1]: command not found

In [26]:
not a[0]

KeyError: 0