In [2]:
import pandas as pd
import numpy as np 

data = pd.read_csv("data/clicks_train.csv", nrows=10000000) # real length 87141731
#test = pd.read_csv("data/clicks_test.csv", nrows=5000000) # real length 32225162
from sklearn.cross_validation import train_test_split
train = data[:9000000]
test = data[9000000:]

In [3]:
train

         display_id   ad_id  clicked
0                 1   42337        0
1                 1  139684        0
2                 1  144739        1
3                 1  156824        0
4                 1  279295        0
5                 1  296965        0
6                 2  125211        0
7                 2  156535        0
8                 2  169564        0
9                 2  308455        1
10                3   71547        0
11                3   95814        0
12                3  152141        0
13                3  183846        0
14                3  228657        1
15                3  250082        0
16                4  149930        0
17                4  153623        1
18                4  184709        0
19                4  186849        0
20                4  233730        0
21                5   54606        0
22                5  162868        0
23                5  184548        0
24                5  282674        0
25                5  326514        1
26                6   85397        0
27                6  160754        0
28                6  173388        0
29                6  175234        1
...             ...     ...      ...
8999970     1740706  153427        0
8999971     1740706  199732        0
8999972     1740707   41560        0
8999973     1740707   68782        0
8999974     1740707   99061        0
8999975     1740707  303990        1
8999976     1740708   59929        1
8999977     1740708  225438        0
8999978     1740708  225450        0
8999979     1740708  289989        0
8999980     1740708  330606        0
8999981     1740708  371779        0
8999982     1740709  142763        0
8999983     1740709  144521        1
8999984     1740709  289230        0
8999985     1740709  324734        0
8999986     1740710  165298        1
8999987     1740710  212535        0
8999988     1740710  224216        0
8999989     1740711  141429        0
8999990     1740711  153345        1
8999991     1740711  272424        0
8999992     1740711  281225        0
8999993     1740712   34802        0
8999994     1740712  123730        0
8999995     1740712  129490        0
8999996     1740712  140942        0
8999997     1740712  160756        0
8999998     1740712  167516        1
8999999     1740713  141291        0

[9000000 rows x 3 columns]