In [168]:
%matplotlib inline
import pandas as pd
import numpy as np
columns=['CountryCode', 'IndicatorCode', 'Year', 'Value']
data = pd.read_csv("data/indicators.csv", usecols=(columns))# nrows=1048576)

In [169]:
data.head()

  CountryCode   IndicatorCode  Year         Value
0         ARB     SP.ADO.TFRT  1960  1.335609e+02
1         ARB     SP.POP.DPND  1960  8.779760e+01
2         ARB  SP.POP.DPND.OL  1960  6.634579e+00
3         ARB  SP.POP.DPND.YG  1960  8.102333e+01
4         ARB  MS.MIL.XPRT.KD  1960  3.000000e+06

In [170]:
columns=['CountryCode']
countries = pd.read_csv("data/Country.csv", usecols=(columns))

In [171]:
countries.head()

  CountryCode
0         AFG
1         ALB
2         DZA
3         ASM
4         ADO

In [172]:
# find some measures that seem important and are often present, filter countries with all those intact, train network

In [173]:
columns=['LongDefinition', 'SeriesCode']
series = pd.read_csv("data/Series.csv", usecols=(columns))

In [174]:
series.head()

             SeriesCode                                     LongDefinition
0        BN.KLT.DINV.CD  Foreign direct investment are the net inflows ...
1  BX.KLT.DINV.WD.GD.ZS  Foreign direct investment are the net inflows ...
2     BX.KLT.DINV.CD.WD  Foreign direct investment refers to direct inv...
3     BM.KLT.DINV.GD.ZS  Foreign direct investment are the net inflows ...
4        BN.TRF.KOGT.CD  Net capital account records acquisitions and d...

In [175]:
print (len(countries))
print (len(series))

247
1345

In [204]:
#isUsedSeries = [(name in seriesToUse) for name in series.SeriesCode.values]
#filteredSeries = series[isUsedSeries]
#filteredSeriesNames = filteredSeries.SeriesCode.values

#useableData = [(name in filteredSeriesNames) for name in data.IndicatorCode.values]
#filteredData = data[useableData]

a = seriesCounts.to_dict()
useableData = [(a.get(name, 0) > 10000) for name in data.IndicatorCode.values]
filteredData = data[useableData]

In [206]:
useableSeries = [(a.get(name, 0) > 10000) for name in series.SeriesCode.values]
filteredSeries = series[useableSeries]

In [207]:
print(len(filteredData))
print(len(data))
print(len(filteredSeries))
print(len(series))

732948
5656458
63
1345

In [216]:
# a = data[(data.CountryCode == 'ARB') & ((data.IndicatorCode == 'SP.ADO.TFRT') | (data.IndicatorCode == 'SP.POP.DPND'))]
useableCountries = []
for country in countries.CountryCode.values:
    print (country)
    useable = True
    for seriesName in series.SeriesCode.values:
        if len(filteredData[(filteredData.IndicatorCode == seriesName) & (data.CountryCode == country)]) == 0:
            useable = False;
            break;
    if not useable:
        useableCountries += country

useableCountries

AFG
ALB
DZA
ASM
ADO
AGO
ATG
ARB
ARG
ARM
ABW
AUS
AUT
AZE
BHR
BGD
BRB
BLR
BEL
BLZ
BEN
BMU
BTN
BOL
BIH
BWA
BRA
BRN

KeyboardInterrupt:

In [215]:
countries.CountryCode.values

array(['AFG', 'ALB', 'DZA', 'ASM', 'ADO', 'AGO', 'ATG', 'ARB', 'ARG',
       'ARM', 'ABW', 'AUS', 'AUT', 'AZE', 'BHR', 'BGD', 'BRB', 'BLR',
       'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA',
       'BRN', 'BGR', 'BFA', 'BDI', 'CPV', 'KHM', 'CMR', 'CAN', 'CSS',
       'CYM', 'CAF', 'CEB', 'TCD', 'CHI', 'CHL', 'CHN', 'COL', 'COM',
       'COG', 'CRI', 'CIV', 'HRV', 'CUB', 'CUW', 'CYP', 'CZE', 'PRK',
       'ZAR', 'DNK', 'DJI', 'DMA', 'DOM', 'EAS', 'EAP', 'ECU', 'EGY',
       'SLV', 'GNQ', 'ERI', 'EST', 'ETH', 'EMU', 'ECS', 'ECA', 'EUU',
       'FRO', 'FJI', 'FIN', 'FCS', 'FRA', 'PYF', 'GAB', 'GEO', 'DEU',
       'GHA', 'GRC', 'GRL', 'GRD', 'GUM', 'GTM', 'GIN', 'GNB', 'GUY',
       'HTI', 'HPC', 'HIC', 'NOC', 'OEC', 'HND', 'HKG', 'HUN', 'ISL',
       'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'IMY', 'ISR', 'ITA', 'JAM',
       'JPN', 'JOR', 'KAZ', 'KEN', 'KIR', 'KOR', 'KSV', 'KWT', 'KGZ',
       'LAO', 'LCN', 'LAC', 'LVA', 'LDC', 'LBN', 'LSO', 'LBR', 'LBY',
       'LIE', 'LTU', 'LMY', 'LIC', 'LMC', 'LUX', 'MAC', 'MKD', 'MDG',
       'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MRT', 'MUS', 'MEX',
       'FSM', 'MEA', 'MNA', 'MIC', 'MDA', 'MCO', 'MNG', 'MNE', 'MAR',
       'MOZ', 'MMR', 'NAM', 'NPL', 'NLD', 'NCL', 'NZL', 'NIC', 'NER',
       'NGA', 'NAC', 'MNP', 'NOR', 'OED', 'OMN', 'OSS', 'PSS', 'PAK',
       'PLW', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI',
       'QAT', 'ROM', 'RUS', 'RWA', 'WSM', 'SMR', 'STP', 'SAU', 'SEN',
       'SRB', 'SYC', 'SLE', 'SGP', 'SXM', 'SVK', 'SVN', 'SST', 'SLB',
       'SOM', 'ZAF', 'SAS', 'SSD', 'ESP', 'LKA', 'KNA', 'LCA', 'MAF',
       'VCT', 'SSF', 'SSA', 'SDN', 'SUR', 'SWZ', 'SWE', 'CHE', 'SYR',
       'TJK', 'TZA', 'THA', 'BHS', 'GMB', 'TMP', 'TGO', 'TON', 'TTO',
       'TUN', 'TUR', 'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR',
       'USA', 'UMC', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'VIR', 'WBG',
       'WLD', 'YEM', 'ZMB', 'ZWE'], dtype=object)