In [168]:
%matplotlib inline
import pandas as pd
import numpy as np
columns=['CountryCode', 'IndicatorCode', 'Year', 'Value']
data = pd.read_csv("data/indicators.csv", usecols=(columns))# nrows=1048576)

In [169]:
data.head()

  CountryCode   IndicatorCode  Year         Value
0         ARB     SP.ADO.TFRT  1960  1.335609e+02
1         ARB     SP.POP.DPND  1960  8.779760e+01
2         ARB  SP.POP.DPND.OL  1960  6.634579e+00
3         ARB  SP.POP.DPND.YG  1960  8.102333e+01
4         ARB  MS.MIL.XPRT.KD  1960  3.000000e+06

In [170]:
columns=['CountryCode']
countries = pd.read_csv("data/Country.csv", usecols=(columns))

In [171]:
countries.head()

  CountryCode
0         AFG
1         ALB
2         DZA
3         ASM
4         ADO

In [172]:
# find some measures that seem important and are often present, filter countries with all those intact, train network

In [173]:
columns=['LongDefinition', 'SeriesCode']
series = pd.read_csv("data/Series.csv", usecols=(columns))

In [174]:
series.head()

             SeriesCode                                     LongDefinition
0        BN.KLT.DINV.CD  Foreign direct investment are the net inflows ...
1  BX.KLT.DINV.WD.GD.ZS  Foreign direct investment are the net inflows ...
2     BX.KLT.DINV.CD.WD  Foreign direct investment refers to direct inv...
3     BM.KLT.DINV.GD.ZS  Foreign direct investment are the net inflows ...
4        BN.TRF.KOGT.CD  Net capital account records acquisitions and d...

In [175]:
print (len(countries))
print (len(series))

247
1345

In [236]:
#isUsedSeries = [(name in seriesToUse) for name in series.SeriesCode.values]
#filteredSeries = series[isUsedSeries]
#filteredSeriesNames = filteredSeries.SeriesCode.values

#useableData = [(name in filteredSeriesNames) for name in data.IndicatorCode.values]
#filteredData = data[useableData]

a = seriesCounts.to_dict()
useableData = [(a.get(name, 0) > 10000) for name in data.IndicatorCode.values]
filteredData = data[useableData]

In [237]:
useableSeries = [(a.get(name, 0) > 10000) for name in series.SeriesCode.values]
filteredSeries = series[useableSeries]

In [238]:
print(len(filteredData))
print(len(data))
print(len(filteredSeries))
print(len(series))

494277
5656458
40
1345

In [239]:
# a = data[(data.CountryCode == 'ARB') & ((data.IndicatorCode == 'SP.ADO.TFRT') | (data.IndicatorCode == 'SP.POP.DPND'))]
useableCountries = []
for country in countries.CountryCode.values:
    useable = True
    filterByCountry = filteredData[(data.CountryCode == country)]
    for seriesName in filteredSeries.SeriesCode.values:
        if len(filterByCountry[(filterByCountry.IndicatorCode == seriesName)]) == 0:
            useable = False;
            break;
    if useable:
        useableCountries.append(country)

/Users/jgzuke/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

['AFG',
 'ALB',
 'DZA',
 'AGO',
 'ATG',
 'ARB',
 'ARG',
 'ARM',
 'AUS',
 'AUT',
 'AZE',
 'BHR',
 'BGD',
 'BRB',
 'BLR',
 'BEL',
 'BLZ',
 'BEN',
 'BTN',
 'BOL',
 'BIH',
 'BWA',
 'BRA',
 'BRN',
 'BGR',
 'BFA',
 'BDI',
 'CPV',
 'KHM',
 'CMR',
 'CAN',
 'CSS',
 'CAF',
 'CEB',
 'TCD',
 'CHL',
 'CHN',
 'COL',
 'COM',
 'COG',
 'CRI',
 'CIV',
 'HRV',
 'CUB',
 'CYP',
 'CZE',
 'PRK',
 'ZAR',
 'DNK',
 'DJI',
 'DOM',
 'EAS',
 'EAP',
 'ECU',
 'EGY',
 'SLV',
 'GNQ',
 'ERI',
 'EST',
 'ETH',
 'EMU',
 'ECS',
 'ECA',
 'EUU',
 'FJI',
 'FIN',
 'FCS',
 'FRA',
 'GAB',
 'GEO',
 'DEU',
 'GHA',
 'GRC',
 'GRD',
 'GTM',
 'GIN',
 'GNB',
 'GUY',
 'HTI',
 'HPC',
 'HIC',
 'NOC',
 'OEC',
 'HND',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'IRN',
 'IRQ',
 'IRL',
 'ISR',
 'ITA',
 'JAM',
 'JPN',
 'JOR',
 'KAZ',
 'KEN',
 'KIR',
 'KOR',
 'KWT',
 'KGZ',
 'LAO',
 'LCN',
 'LAC',
 'LVA',
 'LDC',
 'LBN',
 'LSO',
 'LBR',
 'LBY',
 'LTU',
 'LMY',
 'LIC',
 'LMC',
 'LUX',
 'MKD',
 'MDG',
 'MWI',
 'MYS',
 'MDV',
 'MLI',
 'MLT',
 'MRT',
 'MUS',
 'MEX',
 'FSM',
 'MEA',
 'MNA',
 'MIC',
 'MDA',
 'MNG',
 'MNE',
 'MAR',
 'MOZ',
 'MMR',
 'NAM',
 'NPL',
 'NLD',
 'NZL',
 'NIC',
 'NER',
 'NGA',
 'NAC',
 'NOR',
 'OED',
 'OMN',
 'OSS',
 'PSS',
 'PAK',
 'PAN',
 'PNG',
 'PRY',
 'PER',
 'PHL',
 'POL',
 'PRT',
 'QAT',
 'ROM',
 'RUS',
 'RWA',
 'WSM',
 'STP',
 'SAU',
 'SEN',
 'SRB',
 'SYC',
 'SLE',
 'SVK',
 'SVN',
 'SST',
 'SLB',
 'ZAF',
 'SAS',
 'ESP',
 'LKA',
 'LCA',
 'VCT',
 'SSF',
 'SSA',
 'SDN',
 'SUR',
 'SWZ',
 'SWE',
 'CHE',
 'SYR',
 'TJK',
 'TZA',
 'THA',
 'BHS',
 'GMB',
 'TMP',
 'TGO',
 'TON',
 'TTO',
 'TUN',
 'TUR',
 'TKM',
 'UGA',
 'UKR',
 'ARE',
 'GBR',
 'USA',
 'UMC',
 'URY',
 'UZB',
 'VUT',
 'VEN',
 'VNM',
 'WLD',
 'YEM',
 'ZMB',
 'ZWE']

In [241]:
len(useableCountries)

213

In [242]:
goodData = [(country in useableCountries) for country in filteredData.CountryCode.values]
useableData = filteredData[goodData]

In [245]:
print(len(useableData))
useableData.head()

450951

  CountryCode   IndicatorCode  Year       Value
0         ARB     SP.ADO.TFRT  1960  133.560907
1         ARB     SP.POP.DPND  1960   87.797601
2         ARB  SP.POP.DPND.OL  1960    6.634579
3         ARB  SP.POP.DPND.YG  1960   81.023330
6         ARB  SP.DYN.CBRT.IN  1960   47.697888

In [ ]:
# Filtered Data reasonably above, need to:
# Seperate into few year blocks, with next year values as results to guess
# Train a few different models to guess next years values

In [ ]:
trainingValues = []
trainingResults = []
for country in ['ARB']#useableCountries:
    countryData = filteredData[(filteredData.CountryCode == country)]
    for startYear in xrange(1960, 2000):
        row = []
        for additionalYear in xrange(0, 5):
            yearData = filteredData[(filteredData.Year == startYear + additionalYear)]
            for series in ['SP.ADO.TFRT', 'SP.POP.DPND']#filteredSeries:
                value = filteredData[(filteredData.IndicatorCode == series)].Value.values[0]
                row.append(value)
        
                
        trainingValues.append(row)
        trainingResults.append(row)
    
trainingData = DataFrame(trainingValues)

In [246]:
useableData.values

array([['ARB', 'SP.ADO.TFRT', 1960, 133.56090740552298],
       ['ARB', 'SP.POP.DPND', 1960, 87.7976011532547],
       ['ARB', 'SP.POP.DPND.OL', 1960, 6.634579191565161],
       ...,
       ['ZMB', 'SH.DYN.MORT', 2015, 64.0],
       ['ZWE', 'SP.DYN.IMRT.IN', 2015, 46.6],
       ['ZWE', 'SH.DYN.MORT', 2015, 70.7]], dtype=object)

In [252]:
a = useableData[(useableData.CountryCode == 'ARB') & (useableData.IndicatorCode == 'SP.ADO.TFRT') & (useableData.Year == 1961)]

In [257]:
a.Value.values[0]

134.16441913597902